---
---
// https://styleguide.design.dev.aws.mskcc.org/assets/fonts/gotham-400-299e9ca606232b303d774724dc648995.woff2

:root {
  // font families
  --title: "Arial", sans-serif;
  --heading: "Arial", sans-serif;
  --body: "Arial", sans-serif;
  --code: "Roboto Mono", monospace;

  // font sizes
  --xs: 12px;
  --small: 16px;
  --medium: 20px;
  --large: 30px;
  --xl: 40px;
  --xxl: 50px;

  // font weights
  --thin: 200;
  --regular: 400;
  --semi-bold: 500;
  --bold: 600;

  // text line spacing
  --spacing: 1.6;
  --font-weight: 350;

  // effects
  --rounded: 3px;
  --shadow: 0 0 1px 0 var(--overlay);
  // --shadow: 0 0 0 0;

  // colors
  --msk-navy: #002569;
  --msk-blue: #0073E0;
  --msk-blue-medium: #70BCFF;
  --msk-teal: #78E2DA;
  --msk-light-blue: #C2E3FF;
  --msk-light-gray: #FBF9F7;

  // fonts
  --msk-font: "MSK Sans Web";
  --msk-bold: "MSK Sans Web Bold";
}

// colors
[data-dark="false"] {
  --primary: #0ea5e9;
  --secondary: #7dd3fc;
  --text: #000000;
  --background: #ffffff;
  --background-alt: #fafafa;
  --light-gray: #e0e0e0;
  --gray: #808080;
  --overlay: #00000020;
}
[data-dark="true"] {
  --primary: #0ea5e9;
  --secondary: #075985;
  --text: #ffffff;
  --background: #181818;
  --background-alt: #1c1c1c;
  --light-gray: #404040;
  --gray: #808080;
  --overlay: #ffffff10;
}

// colors
[data-dark="false"] {
  --primary: var(--msk-blue);
  --secondary: var(--msk-navy);;
  --text: #000000;
  --background: #ffffff;
  --background-alt: #fafafa;
  --light-gray: #e0e0e0;
  --gray: #808080;
  --overlay: #00000020;
}
[data-dark="true"] {
  --primary: var(--msk-blue);
  --secondary: var(--msk-blue-medium);
  --text: #ffffff;
  --background: #181818;
  --background-alt: #1c1c1c;
  --light-gray: #404040;
  --gray: #808080;
  --overlay: #ffffff10;
}
