---
---

$wrap: 800px;

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px 0;
}

.feature-image {
  flex-shrink: 0;
  width: 40%;
  aspect-ratio: 3 / 2;
  border-radius: var(--rounded);
  overflow: hidden;
  box-shadow: var(--shadow);
}

.feature-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature-text {
  flex-grow: 1;
}

.feature-title {
  font-size: var(--large);
  text-align: center;
  font-family: var(--msk-bold);
  font-weight: var(--bold);
  color: var(--primary)
}

.feature[data-flip] {
  flex-direction: row-reverse;
}

@media (max-width: $wrap) {
  .feature {
    flex-direction: column !important;
  }

  .feature-image {
    width: unset;
    max-width: calc($wrap / 2);
  }
}

// Custom
.feature-image.large {
  aspect-ratio: 5 / 9;
}
